<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>HtmlAuth</web-resource-name>
			<description>Basis auth constraint</description>
			<url-pattern>/*</url-pattern>
			<!-- no method specified means all are protected -->
		</web-resource-collection>
		<auth-constraint>
			<role-name>Manager</role-name>
			<role-name>Admin</role-name>
			<role-name>User</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
	<security-role>
		<role-name>Manager</role-name>
	</security-role>
	<security-role>
		<role-name>Admin</role-name>
	</security-role>
	<security-role>
		<role-name>User</role-name>
	</security-role>
</web-app>
